<!-- Slide 1: Image -->
      <div class="swiper-slide relative">
        <img
          src="/assets/images/hands-touching-a-tree-trunk.jpg"
          class="w-full h-full object-cover"
          alt="Hands touching a tree trunk."
        />
      </div>
      <!-- Slide 2: Image -->
      <div class="swiper-slide relative">
        <img
          src="/assets/images/tree-planting.jpg"
          class="w-full h-full object-cover"
          alt="Two people planting a tree."
        />
      </div>
      <!-- Slide 3: Image -->
      <div class="swiper-slide relative">
        <img
          src="/assets/images/big-tree.jpg"
          class="w-full h-full object-cover"
          alt="A large, mature tree."
        />
      </div>
      <!-- Slide 4: Image -->
      <div class="swiper-slide relative">
        <img
          src="/assets/images/zero-waste-bag.jpg"
          class="w-full h-full object-cover"
          alt="A zero-waste grocery bag."
        />
      </div>
      <!-- Slide 5: Image -->
      <div class="swiper-slide relative">
        <img
          src="/assets/images/planting-crops.jpg"
          class="w-full h-full object-cover"
          alt="Hands planting a row of crops."
        />
      </div>
