---
// You will need to install swiper.js with `npm install swiper`
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import 'swiper/css/effect-fade';

import Swiper from 'swiper';
import { Navigation, Pagination, EffectFade } from 'swiper/modules';

const uniqueId = 'swiper-' + Math.random().toString(36).substring(7);
---

<div class="relative w-full aspect-[4/3] sm:aspect-video overflow-hidden group">
  <div id={uniqueId} class="swiper h-full">
    <div class="swiper-wrapper">
      <!-- Slide 1: Image -->
      <div class="swiper-slide relative">
        <img
          src="/images/21FBA032-B49B-4A9A-AA1B-DB94E618A646.jpg"
          class="w-full h-full object-cover"
          alt="A user-uploaded image for the Earthject project."
        />
      </div>

      <!-- Slide 2: Image -->
      <div class="swiper-slide relative">
        <img
          src="/images/24A893D6-3AB4-4CB5-934F-8AB517DF4C18.JPG"
          class="w-full h-full object-cover"
          alt="A user-uploaded image for the Earthject project."
        />
      </div>

      <!-- Slide 3: Image -->
      <div class="swiper-slide relative">
        <img
          src="/images/721FBD8B-DC9C-4053-99DF-862202F1B276.JPG"
          class="w-full h-full object-cover"
          alt="A user-uploaded image for the Earthject project."
        />
      </div>

      <!-- Slide 4: Image -->
      <div class="swiper-slide relative">
        <img
          src="/images/C2E1801E-3D90-478D-B78B-FA2CC43310A7.JPG"
          class="w-full h-full object-cover"
          alt="A user-uploaded image for the Earthject project."
        />
      </div>

      <!-- Slide 5: Image -->
      <div class="swiper-slide relative">
        <img
          src="/images/D930ADE3-B08D-4919-B58D-354B814BB62E.JPG"
          class="w-full h-full object-cover"
          alt="A user-uploaded image for the Earthject project."
        />
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev w-10 h-10 bg-white/50 rounded-full flex items-center justify-center transition-opacity duration-300 opacity-0 group-hover:opacity-100"></div>
    <div class="swiper-button-next w-10 h-10 bg-white/50 rounded-full flex items-center justify-center transition-opacity duration-300 opacity-0 group-hover:opacity-100"></div>
  </div>
</div>

<script>
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';
  import 'swiper/css/effect-fade';

  import Swiper from 'swiper';
  import { Navigation, Pagination, EffectFade } from 'swiper/modules';

  document.addEventListener('astro:load', () => {
    new Swiper(`#${uniqueId}`, {
      modules: [Navigation, Pagination, EffectFade],
      effect: 'fade',
      loop: true,
      fadeEffect: {
        crossFade: true
      },
      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>
